name: Main Workflow with Reusable Call

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize, labeled, unlabeled]
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  call-reusable:
    uses: ./.github/workflows/reusable.yml
    with:
      artifact-name: "my-artifact-call-reusable"
  call-reusable2:
    uses: ./.github/workflows/reusable.yml
    with:
      artifact-name: "my-artifact-call-reusable2"
    # outputs will contains the name of the uploaded artifact

  download-artifact:
    needs: 
      - call-reusable
      - call-reusable2
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Download artifact [merge false]
        uses: actions/download-artifact@v5
        with:
          pattern: "my-artifact-*"
          path: downloaded-artifacts/
          merge-multiple: false
      
      - name: Download artifact [merge true]
        uses: actions/download-artifact@v5
        with:
          pattern: "my-artifact-*"
          path: downloaded-artifacts-merged/
          merge-multiple: true
        
      # - name: Download artifact
      #   uses: actions/download-artifact@v5
      #   with:
      #     name: ${{ needs.call-reusable.outputs.artifact-name }}
      #     path: downloaded-artifacts/
          
      - name: Display downloaded files
        run: |
          echo "Merged false"
          ls -la downloaded-artifacts/
          echo "-----------"
          echo "Merged true"
          ls -la downloaded-artifacts-merged/
          echo " "
          for file in $(find downloaded-artifacts* -type f); do
            echo "file: $file"
            echo "cat $file"
            cat $file
            echo " "
          done