name: Reusable Workflow with Artifact Upload

on:
  workflow_call:
    inputs:
      artifact-name:
        description: "Name of the uploaded artifact"
        required: true
        type: string
    outputs:
      artifact-name:
        description: "Name of the uploaded artifact"
        value: ${{ jobs.upload-artifact.outputs.artifact-name }}

defaults:
  run:
    shell: bash


jobs:
  upload-artifact:
    runs-on: ubuntu-latest
    outputs:
      artifact-name: "${{ inputs.artifact-name }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Github vars
        run: |
          echo "GITHUB_JOB: $GITHUB_JOB"
          echo "GITHUB_RUN_ID: $GITHUB_RUN_ID"
          echo "github.run_id: ${{ github.run_id }}"
          echo "GITHUB_ACTION: $GITHUB_ACTION"
          echo "GITHUB_RUN_NUMBER: $GITHUB_RUN_NUMBER"
          echo "GITHUB_SHA: $GITHUB_SHA"
          echo "GITHUB_REF: $GITHUB_REF"
          echo "GITHUB_HEAD_REF: $GITHUB_HEAD_REF"
          echo "GITHUB_BASE_REF: $GITHUB_BASE_REF"
          echo "GITHUB_EVENT_NAME: $GITHUB_EVENT_NAME"
          echo "GITHUB_EVENT_PATH: $GITHUB_EVENT_PATH"
          echo "GITHUB_WORKFLOW_SHA: $GITHUB_WORKFLOW_SHA"
        
      - name: Create test file
        run: |
          DATE=$(date +%s)
          echo "Hello from reusable workflow! | ${{ inputs.artifact-name }}" > test-$DATE.txt
          mkdir -p artifacts
          cp test-$DATE.txt artifacts/
          
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ inputs.artifact-name }}"
          path: artifacts/
          retention-days: 1