name: Reusable Workflow with Artifact Upload

on:
  workflow_call:
    inputs:
      artifact-name:
        description: "Name of the uploaded artifact"
        required: true
        type: string
      storage-key:
        description: "Storage key"
        required: true
        type: string
    outputs:
      artifact-name:
        description: "Name of the uploaded artifact"
        value: ${{ jobs.upload-artifact.outputs.artifact-name }}

defaults:
  run:
    shell: bash


jobs:
  upload-artifact:
    runs-on: ubuntu-latest
    outputs:
      artifact-name: "${{ inputs.artifact-name }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Github vars
        run: |
          echo "GITHUB_JOB: $GITHUB_JOB"
          echo "GITHUB_RUN_ID: $GITHUB_RUN_ID"
          echo "github.run_id: ${{ github.run_id }}"
          echo "GITHUB_ACTION: $GITHUB_ACTION"
          echo "GITHUB_RUN_NUMBER: $GITHUB_RUN_NUMBER"
          echo "GITHUB_SHA: $GITHUB_SHA"
          echo "GITHUB_REF: $GITHUB_REF"
          echo "GITHUB_REF_NAME: $GITHUB_REF_NAME"
          echo "GITHUB_HEAD_REF: $GITHUB_HEAD_REF"
          echo "GITHUB_BASE_REF: $GITHUB_BASE_REF"
          echo "GITHUB_EVENT_NAME: $GITHUB_EVENT_NAME"
          echo "GITHUB_EVENT_PATH: $GITHUB_EVENT_PATH"
          echo "GITHUB_WORKFLOW_SHA: $GITHUB_WORKFLOW_SHA"
          echo "GITHUB_WORKFLOW_REF: $GITHUB_WORKFLOW_REF"
          echo "GITHUB_WORKFLOW: $GITHUB_WORKFLOW"

          echo " "
          echo '${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}'
          echo "${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}"
          echo " "
          echo '${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${run_id:-${GITHUB_RUN_ID}}'
          echo "${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${run_id:-${GITHUB_RUN_ID}}"
      - name: Get current job ID
        run: |
          JOBS=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            "${{ github.api_url }}/repos/${{ github.repository }}/actions/runs/${{ github.run_id }}/jobs" \
            | jq -r '.jobs[] | select(.name | contains("${{ inputs.storage-key }}")).id')
          echo "$JOBS"

          echo " "
          echo "curl"
          curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            "${{ github.api_url }}/repos/${{ github.repository }}/actions/runs/${{ github.run_id }}/jobs"

          echo "JOB_ID=$JOBS" >> $GITHUB_ENV
      - name: Use job ID
        run: |
          echo "Job URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/job/${{ env.JOB_ID }}"
        
      - name: Create test file
        run: |
          DATE=$(date +%s)
          echo "Hello from reusable workflow! | ${{ inputs.artifact-name }}" > test-$DATE.txt
          mkdir -p artifacts
          cp test-$DATE.txt artifacts/
          
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ inputs.artifact-name }}"
          path: artifacts/
          retention-days: 1